<h1>Contributions</h1>
<div class="row">
    <div class="col-md-9">
        <pagination [total-count]="totalCount" [page-size]="pageSize" (page-changed)="onPageChanged($event)"></pagination>
    </div>
    <div class="col-md-3">
        <spinner [visible]="isLoadingContributions"></spinner>
    </div>
</div>
<div class="panel-group" id="accordion">    
    <div class="panel panel-default" *ngFor="let contribution of contributions">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{contribution.id}}">{{contribution.date}}</a>
        </h4>
      </div>
      <div id="collapse{{contribution.id}}" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>ID:</strong></td>
                        <td>{{contribution.id}}</td>
                    </tr>
                    <tr>
                        <td><strong>Amount:</strong></td>
                        <td>{{contribution.amount}}</td>
                    </tr>                    
                </tbody>
            </table>
        </div>
      </div>
    </div>
</div>